@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-400 text-gray-900;
  /* Change to any Tailwind color */
}

@theme {
  --color-regal-blue: #2b3860;
}


.hero{
  background-image: url("/images.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}

button, a{
  cursor: pointer;
}
